{% extends "_base.html" %}

{% block title %}All Emails{% endblock %}

{% block content %}
    <h1>Emails</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Date Sent</th>
                <th scope="col">Date Created</th>
                <th scope="col">Send Status</th>
            </tr>
        </thead>
        <tbody>
            {% for email in object_list %}
                <tr>
                    <td><a href="{% url 'email_scheduled' email.id %}">{{ email.subject }}</a></td>
                    <td>{{ email.created_at }}</td>
                    <td>{{ email.scheduled_time }}</td>
                    <td>{{ email.sent_status }}</td>
                </tr>
            {% empty %}
                <li>No emails yet.</li>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}