{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Schedule Email{% endblock %}

{% block content %}
    <h3>Schedule Email</h3>
    <!-- <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Schedule">
    </form> -->
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {{ form|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Schedule" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}